<ion-header>
  <ion-toolbar>
    <ion-title>
      Bmi Checker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label>Height: </ion-label>
          <ion-input [(ngModel)]="height"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Weight: </ion-label>
          <ion-input [(ngModel)]="weight"></ion-input>
        </ion-item>

        <div>
          <ion-button expand="full" shape="round" (click)="calculateBMI()" >Calculate</ion-button>
        </div>
        
      </ion-card-content>
    </ion-card>

    <div *ngIf="BMI" text-center class="result">
      <h1>...................................</h1>
      <h1>Your BMI : {{ BMI.bmi }}</h1>
      <p>This is classified as: {{ BMI.class }}</p>
      <h1>...................................</h1>
    </div>

</ion-content>
